@import "tailwindcss";

.cl-avatarBox {
  width: 3rem;
  height: 3rem;
}
.arrows {
  height: 30px;
  width: 30px;
  margin: 0.5px;
}

input {
  background-color: #fff;
  accent-color: rgb(255, 110, 134);
  border: 1px solid #ccc;
  color: #333;
}
